#pagefooter {
    text-align: center;
}

tr.clickable-row {
    cursor: pointer;
}

.panel {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

.container.content {
    padding-left: 0;
    padding-right: 30px;
}